@import 'tailwindcss';

@theme {
	--color-black: #000000;
	--color-prussian-blue: #14213d;
	--color-orange: #fca311;
	--color-alabaster-gray: #e5e5e5;
	--color-white: #ffffff;

	--font-sans: 'Playfair Display', ui-sans-serif, system-ui, sans-serif;
	--font-serif: 'Inter', serif;
}

body {
	background-color: var(--color-black);
	font-family: var(--font-sans);
	color: white;
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-serif);
}
